@{
    ViewData["Title"] = "HR-Payrolls";
    <script src="~/lib/jquery/dist/jquery.js"> </script>
    <script type="text/javascript">
    
        function UpdatePayrollInfo() {
            $.ajax({
                url: "@Url.Action("HrPayroll_GeneratePayroll_PostInfo", "HR")",
                method: "post",
                data: {
                    employeeId: "@(TempData["EmployeeId"] as Guid?)",
                    payPeriodStart: document.getElementById("payPeriodStart").value,
                    payPeriodEnd: document.getElementById("payPeriodEnd").value,
                },
                success: (result) => {
                    document.getElementById("partial").innerHTML = result;
                }
            });
        }
            
        function GeneratePayroll()
        {
            console.log(document.getElementById("grossPay").value);
            console.log(document.getElementById("taxRate").value);
            console.log(document.getElementById("deduction").value);
            console.log(document.getElementById("netPay").value);

            $.ajax({
                url:"@Url.Action("HrPayroll_GeneratePayroll_PostPayroll", "HR")",
                method: "post",
                data: {
                    employeeId: "@(TempData["EmployeeId"] as Guid?)",
                    payPeriodStart: document.getElementById("payPeriodStart").value,
                    payPeriodEnd: document.getElementById("payPeriodEnd").value,
                    grossPay: document.getElementById("grossPay").value,
                    taxRate: document.getElementById("taxRate").value,
                    deduction: document.getElementById("deduction").value,
                    netPay: document.getElementById("netPay").value
                },
                
            });
            window.location.href = "@Url.Action("HrPayroll_Payrolls", "HR")" + "?employeeId=@TempData["EmployeeId"]";
        }
    </script>
}

@model IEnumerable<term_project.Models.CareModels.Payroll>

<div class="text-center">
    <h1 class="display-6">Generate New Payroll for</h1>
    <h1 class="display-6">[@TempData["EmployeeId"]]</h1>
</div>

<div>
    <div>
        <label>Pay Period</label>
    </div>

    <div>
        <input type="date" id="payPeriodStart" value="@TempData["PayPeriodStart"]"/>
        -
        <input type="date" id="payPeriodEnd" value="@TempData["PayPeriodEnd"]"/>

        <button type="button" onclick="UpdatePayrollInfo()">Check</button>
    </div>
</div>

<div id="partial">

</div>